body{
    background-color:white;
    font-family: 'Ubuntu', sans-serif;
}


h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
    padding-left: 20px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
	font-family: 'Ubuntu', sans-serif;
}
.sticky{
    
    background-color: #fff;
}


.delete{
    width: 1cm;
    height: 1cm;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color:#fff;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
	
}

.btn{
	border-radius: 5em;
	background-color: #6b8e23;
	color: black;
}
.photo{
    max-width: 30px;
    max-height: min-content;
    margin-left: 90px;
}
.photo1{
    max-width: 30px;
    max-height: min-content;
    margin-left: 70px;

}
.photo2{
    max-width: 30px;
    max-height: min-content;
    margin-left: 60px;
}
.image{
    padding-top: 150px;
    margin-bottom: -115px;
	width: 200px;
}
  .loader {
      padding: 0;
      margin: 0;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #6b8e23; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 5.5in;
    margin-top: -40ch;
    display: flex;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-column{
    line-height: 15px;
    cursor: pointer;
    padding-left: 220px;
    padding-bottom: 1px;
    padding-top: 0.5cm;
    margin-bottom:  -135px;
    border-bottom: 1px solid #ececec;


}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
    width: 12px;
    height: 8px;
	cursor: pointer;
	display: block;
	margin-top: 2px;
    transition:.1s;
    margin-bottom: 0px;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.btn:hover{
	background-color: #fcd12a;
	box-shadow: 0 5px 15px rgba(32, 202, 108, 0.4);
	  
}
.srcbtn{
    background-color: #fcd12a;
}


.col-lg-4{
	padding-top: 10px;
	padding-bottom: 10px;
}

#eachproduct:hover{
	
	box-shadow: 0 5px 15px grey;
}



.main {
        background-color: honeydew;
        width: 400px;
        height: 420px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
    
    
  
    .sign {
        padding-top: 40px;
        color: grey;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 23px;
    }
    
    .un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
    form.form1 {
        padding-top: 40px;
    }
    
    .pass {
            width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
   
    .un:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
        
    }
    
    .submit {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right,#6b8e23,#6b8e23 );
        border: 1;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 5%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    
    .forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: grey;
        padding-top: 15px;
    }
    
    .a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: grey;
        text-decoration: none
    }
    
    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }
        
	}
#login_name{
	font-size: small;
}

#logout{
	font-size: small;
}

.form{
    border-radius: 50px;
}

.search{
        margin-left:-20%;/* whatever */
      
}

#jmb{
    background-color: gray;
}

#slider{
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 100%;
    margin: 0;
    left: 0;
    animation: slider 15s infinite;
}
#slider figure img{
    width: 50%;
    float: left;
}

@keyframes slider {
    
 0% {
     left: 0;
 }

 20% {
     left: 0;
 }
 25%{
    left: -100% ;
 }

 45%{
     left: -100%;
 }
 50%{
     left: -200%;
 }
 70%{
     left:-200%;
 }
 75%{
     left: -300%;
 }
 
95%{
    left: -300%;
}
100%{
    left:-400% ;
}

}

div.pri{
    margin-top: -11px;
}

div.delete{
    position: relative;
    bottom: 3.9cm; 
    left: 2.5cm;
}

.delete{
    width: 20px;
    height: 20px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;

}

.up{
    position: relative;
    bottom: 0.4cm;
    left: 0.5cm;
}

.tot{
    margin-top: 5px;
    margin-bottom: -30px;
}

div.chk{
padding-top: 3px;    
line-height: 3px;
padding-bottom: 5px;
}