 body {
        font-family: 'Ubuntu', sans-serif;
        background-image: url(../images/img.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .main {
        background-color: #fff;
        width: 400px;
        height: 750px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
    
    .sign {
        padding-top: 40px;
        color: black;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 23px;
    }
    div.msg{
        padding: 20px;
        background-color: #fcd12a; /* Red */
        color: black;
        margin-top: -110px;
        position: relative;
        margin-left: 20px;

    }
    
    .btn{
    cursor: pointer;
    border-radius: 5em;
    color: black;
    background: linear-gradient(to right,#fcd12a,#fcd12a );
    border: 1px;
    text-align: left;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 13px;
    padding-top: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    margin-left: 20px;
    margin-right: 55px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
    
    .un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 30px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    .ph {
        width: 76%;
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        background: rgba(136, 126, 126, 0.04);
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin-bottom: 50px;
        margin-left: 30px;
        text-align: center;
        margin-bottom: 27px;
        font-family: 'Ubuntu', sans-serif;
        }
        .em {
            width: 76%;
            color: rgb(38, 50, 56);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            background: rgba(136, 126, 126, 0.04);
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            outline: none;
            box-sizing: border-box;
            border: 2px solid rgba(0, 0, 0, 0.02);
            margin-bottom: 50px;
            margin-left: 30px;
            text-align: center;
            margin-bottom: 27px;
            font-family: 'Ubuntu', sans-serif;
            }
    form.form1 {
        padding-top: 60px;
    }
    
    .pass {
            width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 30px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    .submit {
      cursor: pointer;
        border-radius: 5em;
        color: black;
        background: linear-gradient(#6b8e23,#6b8e23 );
        border: 1px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bolder;
        margin-left: 5%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    
   
    .a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: black;
        text-decoration: none;
        font-family: 'Ubuntu',sans-serif;
    }
    
    @media (max-width: 900px) {
        .main {
            border-radius: 0px;
        }
        
    }