{% extends 'atoz_store/main.html' %}
{% load static %}
{% block content %}
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<div id="mydiv">
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark srcbtn" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
				<div class="chk cart-row">
					<div ><p>{{item.product.name}}</p></div>
					<div ><p>{% if item.product.offprice %} {{item.product.offprice|floatformat:2}} {% else %} {{item.product.price|floatformat:2}} {% endif %}</p></div>
					{% if item.product.prodtype %}
					<div ><p>x{{item.quantity|floatformat:3}} Kg</p></div>
					{% else %}
					<div ><p>x{{item.quantity|floatformat:1}} pcs</p></div>
					{% endif %}
					<div ><p>Rs.{{item.get_total|floatformat:2}} </p></div>
					<strong>-----------------------------------------------</strong>
				</div>
				{% endfor %}
				<h5>Items:   {{cartitems|floatformat:0}}</h5>
				<h5>Total:   Rs{{order.get_cart_total|floatformat:2}}</h5>
			</div>
		</div>
	

	</div>
	
	<div class="col-lg-6">
		<div class="box-element" id="form-wrapper">
			<form id="form">
				<div id="user-info">
					<div class="form-field">
						<input required class="form-control" type="text" name="name" placeholder="Name..">
					</div>
					<div class="form-field">
						<input required class="form-control" type="email" name="email" placeholder="Email..">
					</div>
				</div>
				
				<div id="shipping-info">
					<hr>
					<p>Shipping Information:</p>
					<hr>
					<div class="form-field">
						{% csrf_token %}
						<input class="form-control" type="text" name="address" placeholder="Address..">
					</div>
					<div class="form-field">
						<input class="form-control" type="text" name="city" placeholder="City..">
					</div>
					<div class="form-field">
						<input class="form-control" type="text" name="landmark" placeholder="landmark">
					</div>
					<div class="form-field">
						{% if request.user.is_authenticated %}
						<input id="phone"  class="form-control" type='tel' pattern="[0-9]{1}[0-9]{3}[0-9]{3}[0-9]{3}" name="phonenumber" maxlength="10" placeholder="phonenumber">
						{% else %}
						<input id="phone" required class="form-control" type='tel' pattern="[0-9]{1}[0-9]{3}[0-9]{3}[0-9]{3}" name="phonenumber" maxlength="10" placeholder="phonenumber">
						{% endif %}
					</div> 
					<div class="form-field">
						<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
					</div>
					
				</div>

				<hr>
				<input id="form-button" class="btn btn-success btn-block srcbtn" type="submit" value="Continue">
			</form>
		</div>

		<br>
		<div class="box-element hidden" id="payment-info">
			<small>Paypment options</small>
			<form >
			 <input type="radio" name="payment-options" id="cod"  value="cod"> 
			 <label for="cod">COD</label><br>
			 <input type="radio" name="payment-options" id="online" value="online">  
			 <label for="online">UPI and other payment-options</label>
			<button id='make-payment' type="button" class="btn btn-success srcbtn">Proceed</button>
		</form>
		</div>	
	</div>
</div>
	<div class="loader" id="loader"> 
		
	</div>

	<script type="text/javascript">
	    document.getElementById('loader').classList.add('hidden')
		var total ='{{order.get_cart_total|floatformat:2}}'
		if (user !='AnonymousUser'){
			document.getElementById('user-info').innerHTML=""
		}


		var form = document.getElementById('form')
		form.addEventListener('submit',function(e){
			e.preventDefault()
		
			console.log('form submitted....')
			document.getElementById('form').classList.add('hidden')
			document.getElementById('payment-info').classList.remove('hidden')
		})
        document.getElementById('make-payment').addEventListener('click',function(e){
			submitFormData()
		})
        function submitFormData(){
			console.log('Payment button clicked')
			document.getElementById("mydiv").style.opacity="0.5";
			document.getElementById('loader').classList.remove('hidden')
			if (document.getElementById('cod').checked) {

								

			var userFormData = {
				'name':null,
				'email':null,
				'total':total,
			}
			var shippingInfo = {
				
				'address':null,
				'city':null,
				'landmark':null,
				'phonenumber':null,
				'zipcode':null,
				'payment':null
			}  
			 shippingInfo.address= form.address.value
			 shippingInfo.city= form.city.value
			 shippingInfo.landmark= form.landmark.value
			 shippingInfo.phonenumber= form.phonenumber.value
			 shippingInfo.zipcode= form.zipcode.value
			 if (document.getElementById('cod').checked){
				shippingInfo.payment= 'cod' 
			 }
			 else{
				 shippingInfo.payment = 'online_payment'
			 }
         
			 if(user=='AnonymousUser'){
				 userFormData.name = form.name.value
				 userFormData.email =form.email.value
			 }

			 var url = '/processorder/'
			 fetch(url , {
				 method: 'POST',
				 headers:{
					 'Content-type':'application/json',
					 'X-CSRFToken':csrftoken,
				 },
				 body:JSON.stringify({'form':userFormData,'shipping':shippingInfo})
			 })
			 .then((Response) => Response.json())
			 .then((data) =>{
			   console.log('success:',data);
			 })
			 
			 
				swal("Order Placed", "we'll call you shortly", "success")
				.then((value) => {
					window.location.href = "{% url 'store' %}";	
				});
     
		   
		
			   cart = {}
			   document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;PATH=/';
			}
			else{
				swal("Sorry!!", "Online payments are currently not available", "info");
				document.getElementById("mydiv").style.opacity="1.0";
				document.getElementById('loader').classList.add('hidden')

			}
		
			
		}
		</script>
		<script type="text/javascript">
		     document.getElementById('navmain').classList.add('hidden')
		    if(user!=='AnonymousUser'){
				document.getElementById('phone').classList.add('hidden')
			}
			document.getElementById('login_register').classList.add('hidden')
		
			
			
		</script>
{% endblock content %}
