
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/forgot.css' %}">
</head>
<div class="main">
    <p class="sign" align="center">Login Via OTP</p>
 
    <form action="login" class="form1" method="POST">
        {% csrf_token %}
        <input class="ph" align="center" type="number" name="phone" placeholder="Phone number">
        <input class="ph" type="number" name="OTP" placeholder="Enter OTP">

      <button type="submit" class="submit" type="button" class="btn btn-warning-1"  name="Submit" >Submit</button><br>
      
     
                

    <div>
        {% for message in messages%}
        <h5>{{message}}</h5>
        {% endfor %}
    
    </div>

    </div>
{% endblock content%}