
{% load static %}
{% block content %}
<head> 
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<div class="main">
    <p class="sign" align="center">Log In</p>
 
    <form action="login" class="form1" method="POST">
        {% csrf_token %}
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <input class="un" name="login_username" type="text" align="center" placeholder="Username">
      <input class="pass" type="Password" name="login_password" align="center" placeholder="Password">
      <button class="submit" type="submit" type="button" class="btn btn-warning-1"  name='Log in' align="center" >Log In</button>
      <br>
      <br>
      <a class="a" align="center" href="forgotpassword">Forgot Password?</a>
      <br>
      <br>
      <a class="b" align="center" href="register">Sign up</a>    
                

    <div>
        {% for message in messages%}
        <h5>{{message}}</h5>
        {% endfor %}
    
    </div>

    </div>
<script type="text/javascript">
 document.getElementById('login_register').classList.add('hidden')
     

</script>

{% endblock content%}