<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <script type="js" src="{%static 'js/checkout.js%''}"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
      var user = '{{request.user}}'
      function getToken(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
const csrftoken = getToken('csrftoken');

function getCookie(name){
  var cookieArr = document.cookie.split(";");

  for(var i=0;i<cookieArr.length; i++){
    var cookiePair = cookieArr[i].split('=');

    if(name == cookiePair[0].trim()){
      return decodeURIComponent(cookiePair[1]);

    }
  }

  return null;
}

var cart = JSON.parse(getCookie('cart'))
if(cart == undefined){
  cart = {}
  console.log('cart was created:',cart)
  document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
}
console.log('cart:',cart)

    </script>
    <title>AtoZ</title>
</head>
<body>
    <h3><nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'store' %}">AtoZ</a>
       
  
           
          </ul>
          <div id="login_register" class="form-inline my-2 my-lg-0">
            
            <ul>
              {% if user.is_authenticated %}
            <li id="login_name">hello, {{user.username}}</li>
             <li id="logout"><a href="accounts/logout">logout</a></li>
            {% else %}
              <a href="accounts/login"class="btn btn-warning">Register/Login</a>
               {% endif %}
       
              </ul>
               <a href="{% url 'cart' %}">
                  <img  id="cart-icon" src="{% static 'images/cart.png' %}">
              </a>
              <p id="cart-total">{{cartItems}}</p>
  
          </div>
        </div>
      </nav></h3>
    <h3></h3>
   <div class="container">
       <br>
       {% block content%}

       {% endblock content%}
   </div>






    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>

</body>
</html>