{% extends 'atoz_store/main.html' %}
{% load static %}
{% block content %}
<table  class="table table-striped table-sm">
    <thead>
      <tr>
        <th  scope="col">ordernumber</th>
        <th scope="col">customername</th>
        <th scope="col">phone_no</th>
        <th scope="col">transaction_id</th>
        <th scope="col">odered items</th>
        <th scope="col">adress</th>
        <th scope="col">date_ordered</th>
        <th scope="col">total</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
       
      </tr>
      {% for mdr in managerda %}
      <tr>
        <td>{{mdr.Orderm.id}}</td>
        <td>{{mdr.namem}}</td>
        <td>{{mdr.phonem}}</td>
        <td>{{mdr.trans_id}}</td>
        <td>{{mdr.productm}}</td>
        <td><textarea name="" id="" cols="20" rows="5">{{mdr.adressm}}</textarea></td>
        <td>{{mdr.date}}</td>
        <td>{{mdr.totalm}}</td>
        <td><form  id={{mdr.Orderm}} method="POST" action="managerdash">
           {% csrf_token %}
          <label  for="status">Status:</label>
          <select  name="status" id="status">
            <option  value={"ordno":"{{mdr.Orderm}}","status":"op"}>order processing</option>
            <option value={"ordno":"{{mdr.Orderm}}","status":"od"}>out for delivery</option>
            <option value={"ordno":"{{mdr.Orderm}}","status":"d"}>delivered</option>
          </select>
          <br><br>
          <input data-ord={{mdr.Orderm}}  class="setstatus" type="submit" value="Submit">
        </form></td>
      </tr>
      {% endfor %}
   

    </tbody>
   
  </table>
{% endblock content%}