{% extends 'atoz_store/main.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <br>
  <br>
  <br>

  <br>
  <h3>Track your order</h3>
  <h5>Order no:{{ordid}}</h5>

            
               
              

            
   


    <div  class="box-element">
        {% if status == "null" %}
        <div class="progress">
           <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        {% elif status == "op" %}
        <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 33.33%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      {% elif status == "od" %}
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 66.33%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      {% elif status == "d" %}
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      
    
   
{% endif %}
<div>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <img class="photo" src="{% static  'images/orderprocessed.png' %}">
  <img class="photo" src="{% static  'images/outfordelivery.png' %}">
  <img class="photo" src="{% static  'images/orderarrived.png' %}">
</div>
</div>



{% endblock content%}