{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
</head>
<div class="" align="center">
    <form class="main" action="register" method="POST">
        {% csrf_token %}

        <input class="un" type="text" name="first_name" placeholder="First Name"><br>
        <br>
        <input type="text" name="last_name" placeholder="Last Name"><br>
       <br>
        <input type="text" name="username" placeholder="Username"><br>
        <br>
       <input type="email" name="email" placeholder="Enter E-mail"><br>
       <br>
       <input type="text" name="phone" placeholder="phone number"><br>
       <br>
        <input type="password" name="password1" placeholder="enter the password"><br>
        <input type="password" name="password1" placeholder="Enter the Password"><br>
        <br>
        <input type="password" name="password2" placeholder="Confirm Password"><br>
        <br>
        <button type="submit" type="button" class="btn btn-warning">Sign Up</button><br>
        <a href="login">Already have an Account?</a>
    </form>
    <div>
        {% for message in messages%}
        <h5>{{message}}</h5>
        {% endfor %}
    
    </div>

</div>
<script type="text/javascript">
    document.getElementById('login_register').classList.add('hidden')
        
   
   </script>
   
{% endblock content%}