{% extends 'atoz_store/main.html' %}
{% load static %}
{% block content %}

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<br>
<br>
<div class="catagories">
	<form method="POST" action="search">
		{% csrf_token %}
		<input type="hidden" name="search" value="fruit" />
		<button class="butt">fruits</button>
	</form>
	<form id="anass" method="POST" action="search">
		{% csrf_token %}
		<input type="hidden" name="search" value="veg" />
		<button class="butt">vegitables</button>
	</form>
	<form id="dryfruits" method="POST" action="search">
		{% csrf_token %}
		<input type="hidden" name="search" value="dry" />
		<button class="butt">Dry-fruits</button>
	</form>
	<form id="chick"  method="POST" action="search">
		{% csrf_token %}
		<input type="hidden" name="search" value="chicken" />
		<button class="butt">chicken</button>
	</form>
	<form id="sea"  method="POST" action="search">
		{% csrf_token %}
		<input type="hidden" name="search" value="seafood" />
		<button class="butt">seafood</button>
	</form>
</div>
<div>
	<form class="form-inline my-2 my-lg-0" method="post" action="search" style="padding: 105px; margin-left: -105px;">
		{% csrf_token %}
	   <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
	   <button class="srcbtn btn btn-outline-success my-2 my-sm-0 " type="submit" style="margin-left: -7px;"><strong>search</strong></button>
	 </form>
  </div>
	<div class="row" style="margin-top: -20ch;">
		{% if sr %}
		{% for k in sr %}	 
		<div id="eachproduct"   class="col-lg-4">
			{% if k.percent < 100 %}

			<div class="rectangle">   {{k.percent|floatformat:0}}%off</div>
			{% endif %}
			<img class="thumbnail" src="{{k.imageURL}}" alt="not found">
			<div  class="box-element product">

				<h6><strong>{{k.name}}</strong></h6>
				<hr class="hrr" >
				<button id="addToCart" data-product="{{k.id}}"  data-flagu="{{k.prodtype}}" data-action="add"  class="btn btn-outline-secondary add-btn  cart-button">
					<span class="add-to-cart"> <strong>Add to cart</strong></span>
					<span class="added"><strong>added</strong>  </span>
					
					<i class="fas fa-shopping-cart"></i>
					<i class="fas fa-box"></i>
				</button>
			 
			    {% if k.offprice > 0 %}
				<h4 class="pricetag" style="display: inline-block; "> <s> RS.{{ k.price|floatformat:0}} </s> </h4>
				<h4 class="offprice" style="display: inline-block; "><strong>RS.{{ k.offprice|floatformat:0}}</strong>  {% if k.prodtype %} /kg {% else %} /peice {% endif %}</h4>
				{% else %}
				<h3 class="normprice" style="display: inline-block; ">  <strong>RS.{{ k.price|floatformat:0}}{% if k.prodtype %}/kg{% else %}/peice{% endif %} </strong>  </h3>
			    {% endif %}
			</div>
		</div>
		
		 {% endfor %}
		 {% else %}
		 <ul><li><h4>no results found</h4></li></ul>
		
		 {% endif %}
		 
		 
    </div>
	<script>
		const cartButtons = document.querySelectorAll('.cart-button');
cartButtons.forEach(button => {
	button.addEventListener('click', cartClick);
});

function cartClick() {
	let button = this;
	button.classList.add('clicked');

}
	</script>
<script>
	if ( window.history.replaceState ) {
	  window.history.replaceState( null, null, window.location.href );
	}
	</script>
{% endblock content %}