{% extends 'atoz_store/main.html' %}
{% load static %}
{% block content %}
<div class="main">
    <p class="sign" align="center">Login Via OTP</p>
 
    <form action="login" class="form1" method="POST">
        {% csrf_token %}
        <input class="ph" type="text" name="phone" placeholder="Phone number">
      <button type="submit" class="submit" type="button" class="btn btn-warning-1"  name='Submit' align="center" >Login</button><br>
      
     
                

    <div>
        {% for message in messages%}
        <h5>{{message}}</h5>
        {% endfor %}
    
    </div>

    </div>
{% endblock content%}